<fieldset>
	<legend><%=l(:"synch_time_entries.label_source_data")%></legend>
	<p>
		<label><%=l(:"synch_time_entries.label_protocol")%></label>
		<%= select_tag 'settings[protocol]', options_for_select(['http', 'https'], @settings['protocol']) %>
	</p>
	<p>
		<label><%=l(:"synch_time_entries.label_domain")%></label>
		<%= text_field_tag 'settings[domain]', @settings['domain'] %>
	</p>
	<p>
		<label><%=l(:"synch_time_entries.label_key")%></label>
		<%= text_field_tag 'settings[key]', @settings['key'] %>
	</p>
</fieldset>
<fieldset>
	<legend><%=l(:"synch_time_entries.label_generated_issue_data")%></legend>
	<p>
		<label><%=l(:"synch_time_entries.label_issue_subject")%></label>
		<%= text_field_tag 'settings[issue_subject]', @settings['issue_subject'] %>
	</p>
	<p>
		<label><%=l(:"synch_time_entries.label_issue_tracker")%></label>
		<%= select_tag 'settings[issue_tracker]', options_from_collection_for_select(Tracker.all, 'id', 'name', @settings['issue_tracker']) %>
	</p>
	<p>
		<label><%=l(:"synch_time_entries.label_issue_user")%></label>
		<%= select_tag 'settings[issue_user]', options_from_collection_for_select(User.all, 'id', 'login', @settings['issue_user']) %>
	</p>
</fieldset>
<fieldset>
	<legend><%=l(:"synch_time_entries.label_other_data")%></legend>
	<div class="splitcontent">
	<p>
		<label><%=l(:"synch_time_entries.label_minutes_cache")%></label>
		<%= number_field_tag 'settings[minutes_cache]', @settings['minutes_cache'], {:min => 0} %>
	</p>
	<p>
		<label><%=l(:"synch_time_entries.label_minutes_import_cache")%></label>
		<%= number_field_tag 'settings[minutes_import_cache]', @settings['minutes_import_cache'], {:min => 0} %>
	</p>
		<p>
			<label for="settings[synch_mode]"><%= l(:"synch_time_entries.label_synch_mode")%></label>
			<% %w(window year).each do |synch_mode| %>
			<%= radio_button_tag 'settings[synch_mode]', synch_mode, @settings['synch_mode'] == synch_mode %>
			<%= l(:"synch_time_entries.#{synch_mode}_synch_mode") %>
			<% end %>
		</p>
		<div class="splitcontentleft">
			<fieldset class="settings">
				<legend><%=l(:"synch_time_entries.window_synch_mode")%></legend>
				<p>
					<label><%=l(:"synch_time_entries.label_offset_days")%></label>
					<%= number_field_tag 'settings[offset_days]', @settings['offset_days'], {:min => 0} %>
				</p>
			</fieldset>
		</div>
		<div class="splitcontentright">
			<fieldset class="settings">
				<legend><%=l(:"synch_time_entries.year_synch_mode")%></legend>
				<p>
					<label><%=l(:"synch_time_entries.label_synch_year")%></label>
					<%= select_year(@settings['synch_year'].to_i, start_year: 2019, field_name: 'synch_year', prefix: 'settings') %>
				</p>
			</fieldset>
		</div>
	</div>
</fieldset>