<% if @import.settings['data_type'] == 'User' %>
	<h2><%= l(:"synch_time_entries.label_import_user_relation") %></h2>
<% elsif @import.settings['data_type'] == 'Project' %>
	<h2><%= l(:"synch_time_entries.label_import_project_relation") %></h2>
<% end %>

<div id="import-details">
  <div id="import-progress"><div id="progress-label">0 / <%= @import.total_items.to_i %></div></div>
</div>

<%= javascript_tag do %>
$(document).ready(function() {
  $('#import-details').addClass('ajax-loading');
  $('#import-progress').progressbar({value: 0, max: <%= @import.total_items.to_i %>});
  $.ajax({
    url: '<%= synch_relation_import_run_path(@import, :format => 'js') %>',
    type: 'post'
  });
});
<% end %>
