<div class="splitcontentleft">
	<h2><%=l(:"label_project_plural")%></h2>
	<div class="contextual">
		<%= link_to l(:label_project_new), new_synch_relation_path(:type => 'Project'), :class => 'icon icon-add' %>
		<br /><%= link_to l(:"button_import") + ' ' + l(:"label_project_plural") + ' ' + l(:"label_date_from").downcase + ' CSV', new_synch_relation_import_path(:type => 'Project'), :class => 'icon icon-duplicate' %>
		<br /><%= link_to l(:"button_export") + ' CSV', synch_relations_path(:format => :csv, :type => 'Project'), :method => :get, :class => 'icon icon-file text-csv' %>
	</div>

	<table class="list">
		<thead>
			<tr>
				<th><%=l(:"synch_time_entries.label_source_value")%></th>
				<th><%=l(:"synch_time_entries.label_target_value")%></th>
				<th><%=l(:"field_start_date")%></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% SynchRelation.where(data_type: 'project').each do |r| %>
				<tr>
					<td><%=r.source_name%></td>
					<td><%=r.target_name%></td>
					<td><%=r.start_date%></td>
					<td><%= delete_link synch_relation_path(r.id) %></td>
	    			<td><%= link_to l(:button_edit), edit_synch_relation_path(r.id, :type => 'Project'), :class => 'icon icon-edit' %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="splitcontentright">
	<h2><%=l(:"label_user_plural")%></h2>
	<div class="contextual">
		<%= link_to l(:label_user_new), new_synch_relation_path(:type => 'User'), :class => 'icon icon-add' %>
		<br /><%= link_to l(:"button_import") + ' ' + l(:"label_user_plural") + ' ' + l(:"label_date_from").downcase + ' CSV', new_synch_relation_import_path(:type => 'User'), :class => 'icon icon-duplicate' %>
		<br /><%= link_to l(:"button_export") + ' CSV', synch_relations_path(:format => :csv, :type => 'User'), :method => :get, :class => 'icon icon-file text-csv' %>
	</div>

	<table class="list">
		<thead>
			<tr>
				<th><%=l(:"synch_time_entries.label_source_value")%></th>
				<th><%=l(:"synch_time_entries.label_target_value")%></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% SynchRelation.where(data_type: 'user').each do |r| %>
					<tr>
						<td><%=r.source_name%></td>
						<td><%=r.target_name%></td>
						<td><%= delete_link synch_relation_path(r.id) %></td>
		    			<td><%= link_to l(:button_edit), edit_synch_relation_path(r.id, :type => 'User'), :class => 'icon icon-edit' %></td>
						</td>
					</tr>
				<% end %>
		</tbody>
	</table>
</div>
<div style="clear:both;"></div>
<h2><%=l(:"label_issue_plural")%></h2>
<div class="contextual">
	<%= link_to l(:label_issue_new), new_synch_relation_path(:type => 'Issue'), :class => 'icon icon-add' %>
</div>

<table class="list">
	<thead>
		<tr>
			<th><%=l(:"synch_time_entries.label_source_value")%></th>
			<th><%=l(:"synch_time_entries.label_target_value")%></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% SynchRelation.where(data_type: 'issue').each do |r| %>
			<tr>
				<td><%='[#'+r.source_id.to_s+'] '+r.source_name%></td>
				<td><%='[#'+r.target_id.to_s+'] '+r.target_name%></td>
				<td><%= delete_link synch_relation_path(r.id) %></td>
    			<td><%= link_to l(:button_edit), edit_synch_relation_path(r.id, :type => 'Issue'), :class => 'icon icon-edit' %></td>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<div style="clear: both;"></div>
<fieldset class="tabular">
	<legend><h2 style="text-transform: initial; font-size: 28px;"><%=l(:"synch_time_entries.label_manual_synchronisation")%></h2></legend>
	<%= form_tag(action: 'perform_manual_synch') do %>
		<p>
			<label class="no-css" style="margin-right: 2px;"><%=l(:"synch_time_entries.label_manual_synch_number")%></label>
			<%=number_field_tag 'number_of_months_ago', '3', min: 1, max: 120, required: true, style: 'width: 4em;'%>
			<label class="no-css" style="margin-left: 2px;"><%=l(:"synch_time_entries.label_months_ago")%></label>
		</p>
		<p style="margin-top: 20px;">
			<%= submit_tag l(:"synch_time_entries.label_clear_synch"), name: 'clear_synch', data: { confirm: l(:text_are_you_sure), disable_with: l(:"synch_time_entries.please_wait")}, :method => :delete %>
			<span style="display: inline-block;width: 20px;"></span>
			<%= submit_tag l(:"synch_time_entries.label_perform_synch"), data: { confirm: l(:text_are_you_sure), disable_with: l(:"synch_time_entries.please_wait")}%>
		</p>
	<% end %>
</fieldset>
<div style="clear: both;"></div>