<%= title l(:"synch_time_entries.label_new_#{@type.underscore}_relation") %>

<%= labelled_form_for @relation, :url => synch_relations_path do |f| %>
  <%= error_messages_for 'synch_relations' %>
  <div class="box tabular">
    <div id="all_attributes">
      <% if @type == 'Issue' %>
        <%= render :partial => 'synch_relations/form_issues', :locals => {:f => f} %>
      <% elsif @type == 'Project' %>
        <%= render :partial => 'synch_relations/form_projects', :locals => {:f => f} %>
      <% else %>
        <%= render :partial => 'synch_relations/form', :locals => {:f => f} %>
      <% end %>
    </div>

  </div>

  <%= submit_tag l(:button_create) %>
  <%= submit_tag l(:button_create_and_continue), :name => 'continue' %>
<% end %>